<div class="col-4 p-1">
	<div class="list-group list-group-flush border">
		<input type="search" class="form-control" placeholder="Search..." value="" (keypress)="onSearch($event)" (change)="onSearch($event)" (keyup) ="onSearch($event)">
		<div class="m-0 p-0" *ngFor="let cat of lib.categories"> <a
				*ngIf="(lib.applets| searchFilter: searchText | catFilter : cat).length" (click)="onClickTab(cat)"
				href="#" class='list-group-item list-group-item-action {{cat===currentCategory?"active":""}}'>{{cat}}
				<span class="badge badge-secondary badge-pill">{{(lib.applets| searchFilter: searchText | catFilter : cat).length}}</span></a>
		</div>


	</div>
</div>